* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 20%;
}

.input,
.button {
	padding: 5px 5px;
	font-family: 'DM Sans', sans-serif;
	border-radius: 10px;
}
